VITE_SUPABASE_URL=https://plesgwmatgqghhpitxee.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsZXNnd21hdGdxZ2hocGl0eGVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYyMjIwNjEsImV4cCI6MjA3MTc5ODA2MX0.1WOPviWC68EsPQI3gmXTXLv8dX9xCIkc9rGzKKeoztY
